<h1><i class="fa fa-tasks"></i>Orders</h1>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Customer</th>
      <th scope="col">Date</th>
      <th scope="col">Date of order</th>
      <th scope="col">Adress</th>
      <th scope="col">Phone</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody class="">
    <tr *ngFor="let order of orders$ | async">
      <td>
        <a [routerLink]="['/admin/orders/', order.key]">{{
          order.datePlaced
        }}</a>
      </td>
      <td>{{ order.shipping.name }}</td>
      <td>{{ order.datePlaced | date: "short" }}</td>
      <td>
        {{ order.shipping.addressLine1 }}{{ order.shipping.addressLine2 }}
      </td>
      <td>{{ order.shipping.phone }}</td>
      <td *ngIf="order.ship">Sending</td>
      <td *ngIf="!order.ship">Not sending</td>
      <td>
        <mat-slide-toggle
          color="primary"
          [checked]="order.ship"
          (change)="changeStatus($event, order.key)"
        >
        </mat-slide-toggle>
      </td>
    </tr>
  </tbody>
</table>
