<div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col text-center">
        <div class="card">
          <div class="card-header">
            <i class="far fa-comment-alt"></i> System message
          </div>
          <div class="card-body">
            <h5 class="card-title">Successfully Ordered</h5>
            <p class="card-text">Thank you for your order, we will ship it for you as soon as possible.</p>
            <button (click)="backHome()" class="btn btn-primary">Back to the homepage</button>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
